{% extends base %}

{% block postamble %}

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>

.navbar {
  background-color: #272b30 !important;
}


.logo {
   width: 88px;
   height: auto;
}

.controls-area {
}

.data-repo-input  p {
  color:white;
  margin: 0;
  position: relative;
  top: -5px;
}

</style>

{% endblock %}

{% block contents %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-4 col-md-2 mr-0" href="https://www.lsst.org" style="background-color: #272b30;">
        <span>
          <img class="logo"
               src="https://www.lsst.org/sites/default/files/logos/LSST_web_black.png" />
    <span style="color:white;background-color:rbga(0,0,0,0);font-size:14pt;">
        <i>Data Processing Explorer</i>
      </span>
      </span>
</a>

      <ul class="navbar-nav px-3">
          <li class="nav-item">{{ embed(roots.data_repo_path) }}</li>
      </ul>

    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="controls-area col-md-3 d-none d-md-block bg-light sidebar">

          <div class="sidebar-sticky">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Views</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                {{ embed(roots.view_switcher) }}
              </li>
            </ul>

            <hr />
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Metrics</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">

              </li>

              <li class="nav-item">{{ embed(roots.metrics_selectors) }}</li>
            </ul>

            <hr />
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Filters</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                {{ embed(roots.flags) }}
              </li>
              <li class="nav-item">
                {{ embed(roots.query_filter) }}
              </li>
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 pt-3 px-4">
            {% if roots.plot_top %}
              {{ embed(roots.plot_top) }}
            {% endif %}

            {{ embed(roots.metrics_plots) }}
            {{ embed(roots.status_message_queue) }}
        </main>
    </div>

{% endblock %}
